<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title>Change user password - hydrohomie</title>
</head>
<body>
    <nav th:replace="admin_navbar::navbar('users')"></nav>

    <div class="container my-4 col-sm-6 col-sm-offset-3">
        <h3 class="mb-4">Change user password</h3>
        <!--/*@thymesVar id="changeUserPasswordDto" type="pl.kmolski.hydrohomie.account.dto.ChangeUserPasswordDto"*/-->
        <form th:action="@{/admin/changePassword/{id}(id=${username})}" th:object="${changeUserPasswordDto}"
              id="change_password" name="change_password" method="post">
            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                <ul class="mb-0">
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                </ul>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" th:field="*{password}" id="password" maxlength="127" required>
            </div>
            <div class="mb-3">
                <label for="pwConfirm" class="form-label">Confirm password:</label>
                <input type="password" class="form-control" th:field="*{pwConfirm}" id="pwConfirm" maxlength="127" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
            <a th:href="@{/admin}" class="btn btn-secondary">Go back</a>
        </form>
    </div>
</body>
</html>
