<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title>Users - hydrohomie</title>
</head>
<body>
    <nav th:replace="admin_navbar::navbar('users')"></nav>

    <div class="container my-4">
        <div th:switch="${userAccounts.isEmpty}" class="d-flex flex-row mb-4 justify-content-between">
            <h3 th:case="false" th:text="${'Managing ' + userAccounts.totalElements + ' users'}"></h3>
            <h3 th:case="true">You don't have any users yet.</h3>
            <a th:href="@{/admin/createUser}" class="btn btn-primary">Create new user</a>
        </div>
        <table th:if="${not userAccounts.isEmpty}" class="table table-hover rounded rounded-3 shadow-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Enabled</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user, it : ${userAccounts.content}">
                <th th:text="${it.count}" scope="row"></th>
                <td th:text="${user.username}"></td>
                <td th:text="${user.enabled}"></td>
                <td class="d-flex flex-row flex-wrap justify-content-end">
                    <form th:action="@{/admin/setEnabledUser/{id}(id=${user.username}, enabled=${not user.enabled})}"
                          th:switch="${user.enabled}" method="post">
                        <input th:case="true" class="btn btn-secondary ms-2" type="submit" value="Disable"/>
                        <input th:case="false" class="btn btn-success ms-2" type="submit" value="Enable"/>
                    </form>
                    <a th:href="@{/admin/changePassword/{id}(id=${user.username})}" class="btn btn-primary ms-2">Change password</a>
                    <a th:href="@{/admin/deleteUser/{id}(id=${user.username})}" class="btn btn-danger ms-2">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav th:replace="pagination::pagination(${userAccounts})"></nav>
    </div>
</body>
</html>
