<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title>Users - hydrohomie</title>
</head>
<body>
    <nav th:replace="admin_navbar::navbar('users')"></nav>

    <div class="container my-4">
        <div th:switch="${userAccounts.isEmpty}" class="d-flex flex-row mb-4 justify-content-between">
            <h3 th:case="false" th:text="${'Managing ' + userAccounts.totalElements + ' users'}"></h3>
            <h3 th:case="true">You don't have any users yet.</h3>
            <a th:href="@{/admin/createUser}" class="btn btn-primary">Create new user</a>
        </div>
        <table th:if="${not userAccounts.isEmpty}" class="table table-hover rounded rounded-3 shadow-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Enabled</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user, it : ${userAccounts.content}">
                <th th:text="${it.count}" scope="row"></th>
                <td th:text="${user.username}"></td>
                <td th:text="${user.enabled}"></td>
                <td class="d-flex flex-row flex-wrap justify-content-end">
                    <form th:action="@{/admin/setEnabledUser/{id}(id=${user.username}, enabled=${not user.enabled})}"
                          th:switch="${user.enabled}" method="post">
                        <input th:case="true" class="btn btn-danger ms-2" type="submit" value="Disable"/>
                        <input th:case="false" class="btn btn-success ms-2" type="submit" value="Enable"/>
                    </form>
                    <form th:action="@{/admin/deleteUser/{id}(id=${user.username})}" method="post">
                        <input class="btn btn-danger ms-2" type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-end">
                <li th:class="${'page-item ' + (userAccounts.hasPrevious() ? '' : 'disabled')}">
                    <div th:switch="${userAccounts.hasPrevious()}" th:remove="tag">
                        <a class="page-link" th:case="true" th:href="${'?page=' + userAccounts.previousPageable().pageNumber}">Previous</a>
                        <a class="page-link" th:case="false" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </div>
                </li>
                <li th:class="${'page-item ' + (it.index == userAccounts.number ? 'active' : '')}"
                    th:each="pageNumber, it : ${#numbers.sequence(1, userAccounts.totalPages)}"
                    th:switch="${it.index != userAccounts.number}">
                    <a class="page-link" th:case="true" th:href="${'?page=' + it.index}" th:text="${pageNumber}"></a>
                    <a class="page-link" th:case="false" href="#" aria-current="page" th:text="${pageNumber}"></a>
                </li>
                <li th:class="${'page-item ' + (userAccounts.hasNext() ? '' : 'disabled')}">
                    <div th:switch="${userAccounts.hasNext()}" th:remove="tag">
                        <a class="page-link" th:case="true" th:href="${'?page=' + userAccounts.nextPageable().pageNumber}">Next</a>
                        <a class="page-link" th:case="false" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
