<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title>Confirm - hydrohomie</title>
</head>
<body>
    <nav th:replace="admin_navbar::navbar('confirm')"></nav>

    <div class="container my-4">
        <h3 class="mb-3" th:text="${'Delete user ''' + username + '''?'}"></h3>
        <div class="d-flex">
            <form th:action="@{/admin/deleteUser/{id}(id=${username})}" method="post">
                <input class="btn btn-danger" type="submit" value="Delete"/>
            </form>
            <a th:href="@{/admin}" class="btn btn-secondary ms-2">Go back</a>
        </div>
    </div>
</body>
</html>
