<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title>hydrohomie</title>
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color: #30547b;">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand me-5">hydrohomie</a>
            <div th:if="${navs}" th:remove="tag">
                <div th:replace="${navs}"></div>
            </div>
        </div>
    </nav>
</body>
