<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title>Coasters - hydrohomie</title>
</head>
<body>
    <nav th:replace="user_navbar::navbar"></nav>

    <div class="container my-4">
        <div class="row">
            <div class="col-sm">
                <h1>Welcome to hydrohomie!</h1> <br/>
            </div>
        </div>
    </div>
</body>
</html>
